In [2]:
import pandas as pd

In [3]:
list = [1,2,2,3,4]
print(list)

[1, 2, 2, 3, 4]

In [5]:
s1 = pd.Series([1,2,3,4])
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'])
print(s1)

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
type(s1)

pandas.core.series.Series

In [9]:
s1 = pd.Series([1,2,3,4], index = ['a','b','c','d'], dtype = float)
print(s1)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [10]:
scaler = pd.Series(0.5)
print(scaler)

0    0.5
dtype: float64

In [11]:
scaler = pd.Series([0.5,0.5,0.5])
print(scaler)

0    0.5
1    0.5
2    0.5
dtype: float64

In [12]:
dic = pd.Series({'name':'Nilesh', 'last name':'yadav'})
print(dic)

name         Nilesh
last name     yadav
dtype: object

In [13]:
s1[0]

1.0

# Data framework

In [14]:
df1 = pd.DataFrame(list)
print(df1)

   0
0  1
1  2
2  2
3  3
4  4

In [15]:
df1

   0
0  1
1  2
2  2
3  3
4  4

In [17]:
ls = [[1,2,3], [4,5,6],[7,8,9]]
print(ls)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
df2 = pd.DataFrame(ls)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
dict = {'Roll no.':[1,2,3,4,5]}
print(dict)

{'Roll no.': [1, 2, 3, 4, 5]}

In [21]:
df3 = pd.DataFrame(dict)
print(df3)

   Roll no.
0         1
1         2
2         3
3         4
4         5

In [22]:
df3

   Roll no.
0         1
1         2
2         3
3         4
4         5